/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 204, 0, 1);
  padding: 25px 0;
  padding-left: 150px;
}

.logo {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camp-name {
  font-size: 1rem;
  line-height: 2.5rem;
  margin-right: 0;
}

.camp-name h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}

.camp-name h3 {
  font-weight: 600;
  margin-top: 0;
}

.links-div {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  list-style: none;
  margin-right: 3rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
}

.nav-links li a:hover {
  text-decoration: underline;
  text-underline-offset: 1.2rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
  /* display: none; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 204, 0, 1);

  padding-top: 1.5rem;
  z-index: 1000;

  display: none;
}

.hamburger-camp-name {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-right: 0;
}

.ham-logo {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.ham-logo h2 {
  font-size: 2.6rem;
  font-weight: 800;
  margin-bottom: 0;
  text-transform: none;
}

.ham-logo h3 {
  font-weight: 600;
  margin-top: 0;
  font-size: 1rem;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  background-color: #000000;
  width: 100%;
  padding-bottom: 2rem;
  z-index: 1000;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 24px;
  width: 30px;

  margin-top: 1.2rem;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 35%;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 0 0.6rem;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 400px;
  padding: 1rem 1rem;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:nth-child(2) {
  opacity: 1;
}
.hamburger-icon span:last-child {
  transform: none;
}
/*Activities*/
.activities h1 {
  text-align: center;
  position: relative;
  top: 50px;
}
.activities_p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.activities p {
  line-height: 30px;
  width: 50%;
  position: relative;
  top: 7rem;
}
/*Music section*/
.music {
  width: 100%;
  height: 100vh;
  padding: 4.38rem 0;
}
.music .music_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 6rem;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 10);
}

.music .music_main .image img {
  width: 38rem;
  margin-left: 5rem;
  position: relative;
  top: 3rem;
  object-fit: cover;
}

.music .music_main .music_text h1 {
  color: #fac031;
  margin-right: 1rem;
  font-size: 2rem;
  position: relative;
  top: 5rem;
  margin-left: 2.5rem;
}

.music .music_main .music_text .music_info {
  margin-left: 3rem;
  margin-top: 6rem;
  line-height: 2.5rem;
}
.music .music_main .music_text .music_info h4 {
  font-weight: 1000px;
  font-size: 20px;
  color: #fac031;
}
/*Crime investigation section*/
.crime_investigation {
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
}

.crime_investigation .crime_main {
  margin-top: 10%;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}
.crime_investigation .crime_main .image {
  float: right;
  width: 50%;
}

.crime_investigation .crime_main .image img {
  width: 80%;
  height: auto;
  display: block;
  padding-top: 2rem;
}

.crime_investigation .crime_main .crime_text {
  float: left;
  width: 50%;
  padding-left: 5rem;
  line-height: 2.5rem;
}
.crime_investigation .crime_main::after {
  content: "";
  display: table;
  clear: both;
}

.crime_investigation .crime_main .crime_text h1 {
  color: #fac031;
  margin-right: 15px;
  font-size: 35px;
}

.crime_investigation .crime_main .crime_text p span {
  font-size: 20px;
}

.crime_investigation .crime_main .crime_text h4 {
  font-weight: 1000px;
  font-size: 20px;
  color: #fac031;
}
/*FilmMaking Workshop*/

.filmmakers_workshop {
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
}

.filmmakers_workshop .filmmakers_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.filmmakers_workshop .filmmakers_main .image img {
  width: 38rem;
  margin-left: 5rem;
  position: relative;
  top: 3rem;
}

.filmmakers_workshop .filmmakers_main .film_text {
  margin-left: 3rem;
  margin-top: 6rem;
  width: 100%;
  line-height: 3rem;
}

.filmmakers_workshop .filmmakers_main .film_text h1 {
  color: #fac031;
  margin-right: 1rem;
  font-size: 2rem;
  position: relative;
  bottom: 3rem;
  margin-left: 2rem;
}

.filmmakers_workshop .filmmakers_main .film_text h4 {
  font-weight: 1000px;
  font-size: 20px;
  color: #fac031;
}

/*Engineering*/
.engineering {
  width: 100%;
  height: 100vh;
  padding: 4.38rem 0;
}

.engineering .engineering_main {
  margin-top: 2rem;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.engineering .engineering_main .image img {
  width: 80%;
  height: auto;
  display: block;
  margin-top: 2rem;
}

.engineering .engineering_main .image {
  float: right;
  width: 50%;
}

.engineering .engineering_main .engineering_text {
  float: left;
  width: 50%;
  padding-left: 5rem;
  line-height: 2.5rem;
}

.engineering .engineering_main::after {
  content: "";
  display: table;
  clear: both;
}

.engineering .engineering_main .engineering_text h1 {
  color: #fac031;
  margin-right: 1rem;
  font-size: 2rem;
}

.engineering .engineering_main .engineering_text .engineering_p {
  margin-top: 2rem;
  padding-right: 3rem;
}

.engineering .engineering_main .engineering_text h4 {
  font-weight: 1000px;
  font-size: 20px;
  color: #fac031;
}

/*Nursing Camp*/

.nursing {
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
}

.nursing .nursing_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.nursing .nursing_main .image img {
  width: 38rem;
  margin-left: 5rem;
  position: relative;
  top: 4rem;
}

.nursing .nursing_main .nursing_text {
  margin-left: 3rem;
  margin-top: 6rem;
  width: 50%;
  line-height: 2.5rem;
}

.nursing .nursing_main .nursing_text h1 {
  color: #fac031;
  margin-right: 1rem;
  font-size: 2rem;
  position: relative;
  bottom: 3rem;
  margin-left: 2rem;
}

.nursing .nursing_main .nursing_text h4 {
  font-weight: 1000px;
  font-size: 20px;
  color: #fac031;
}

/*Athletic*/

.athletic {
  width: 100%;
  height: 100vh;
  padding: 4.38rem 0;
}

.athletic .athletic_main {
  margin-top: 2rem;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

.athletic .athletic_main .image img {
  width: 80%;
  height: auto;
  display: block;
}

.athletic .athletic_main .image {
  float: right;
  width: 50%;
}

.athletic .athletic_main .athletic_text {
  float: left;
  width: 50%;
  padding-left: 5rem;
  line-height: 2.5rem;
}

.athletic .athletic_main .athletic_text::after {
  content: "";
  display: table;
  clear: both;
}

.athletic .athletic_main .athletic_text h1 {
  color: #fac031;
  margin-right: 1rem;
  font-size: 2rem;
}

.athletic .athletic_main .athletic_text .athletic_p {
  margin-top: 2rem;
  padding-right: 3rem;
}
.athletic .athletic_main .athletic_text h4 {
  font-weight: 1000px;
  font-size: 20px;
  color: #fac031;
}
/* FOOTER */
footer {
  height: 22vh;
  background-color: #000000;
  padding-top: 2rem;
}

.foot-main-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.name-address {
  margin-right: 15rem;
}

.school-name {
  color: #ffcc00;
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  font-weight: 700;
}

.address {
  color: #ffffff;
  margin-top: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.social-links {
  margin-top: 1rem;
}

.social-links svg {
  margin-right: 0.5rem;
}

.important-camp-info {
  display: inline-flex;
  flex-direction: column;
}

.important-camp-info a {
  margin-bottom: 0.7rem;
  color: #ffffff;
  font-size: 1.1rem;
}
