/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* DEFAULT COLOR FOR BODY */
body {
  background: linear-gradient(to bottom, rgba(255, 204, 0, 1) 60%, #fff 60%);
}


/* Set white background for elements beyond the wrapper */


/* MAKING SCROLLING THROUGH PAGE SMOOTH */
html {
    scroll-behavior: smooth;
}

.divider {
  height: 350px; /* Adjust the height of the divider */
  background-image: url('../images/wayne.jpg'); /* Specify the path to your image */
  background-size: cover; /* Ensure the image covers the entire element */
  background-repeat: repeat-x; /* Repeat the image horizontally */
}


/* NAV BAR */
.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 204, 0, 1);
    padding: 25px 0;
    padding-left: 150px;
}

.logo {
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-div {
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    list-style: none;
    margin-right: 3rem;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
}

.nav-links li a:hover {
    text-decoration: underline;
    text-underline-offset: 1.2rem;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header .current-date {
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  min-height: 500px; /* Set a minimum height to prevent overlap */
  position: relative; /* Change to relative positioning */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
  margin: 0 auto;
  margin-bottom: 50px;
}

.calendar {
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

span {
    padding: 10px 20px;
    background-color: rgba(255, 204, 0, 1);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

span:hover {
    background-color: #2980b9;
}


.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.5rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
    pointer-events: none;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: rgba(255, 204, 0, 1);
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

.events {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.events.active {
    display: block;
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
}

.title h1 {
    font-size: 32px;
    color: #333;
}

.current-date {
    color: #333;
    font-size: 28px;
    font-family: 'Roboto', sans-serif !important;
}

.days .selected {
    background-color: rgba(255, 204, 0, 1);
    border-radius: 75%;
}

.popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: rgba(255, 204, 0, 1);
    width: 400px;
    height: 400px;
    font-family: 'Roboto', sans-serif !important;
    color: #333;
    font-size: 30px;
}

.popup-active .calendar {
    filter: blur(5px);
}

.popup-content {
    max-width: 400px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
}

.column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 20px;
  margin-bottom: 100px; 
}

.column {
    background-color: rgba(255, 204, 0, 1);
    font-family: 'Roboto', sans-serif !important;
    color: #333;
    font-size: 30px;
    width: calc(33.33% - 20px);
    text-align: center;
    border-radius: 10px;
    margin: 0 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Adjust hover effect */
.column:hover {
    transform: scale(1.05);
}

footer {
  padding: 1rem; /* Adjust padding as needed */
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 16px; /* Adjust font size as needed */
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .nav {
        padding-left: 50px; /* Adjust padding for smaller screens */
    }
    
    .wrapper {
        width: 95%; /* Adjust wrapper width for smaller screens */
    }

    .calendar li {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }

    .column {
        width: calc(50% - 10px); /* Adjust column width for smaller screens */
        margin: 0 5px; /* Adjust margin for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
    }
}

