/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

/* Wayne State College colors and font */
body{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 23%, #ffffff 23%, #ffffff 100%);
  position: relative; /* Ensure relative positioning for absolute elements */
}

/* header{
  padding: 25px 30px 10px;
} */

nav{
  font-family: 'Roboto', sans-serif !important;
  font-size: 26px;
  font-weight: 5px;
}

nav a {
  text-decoration: none; /* Remove underline from anchor links within nav */
  color: #333;
  transition: text-decoration 0.3s ease; /* Add transition for smooth effect */
}

nav a:hover {
  text-decoration: underline; /* Underline the link on hover */
}


header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
}

header .current-date{
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.wrapper{
  width: 800px; 
  height: 500px;
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.45);
}

.calendar{
  padding: 20px;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 20px;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.5rem; /* Adjust the font size of the dates */
}

.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive{
  color: #aaa;
}

.days li.active{
  color: #fff;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background:rgba(255,204,0,1);
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
}

.title h1 {
  font-size: 32px;
  color: #333;
}
img {
  /* width: 100%;  */
  max-width: 300px; /* Limit the maximum width of the image to 500 pixels */
  float: right;
  position: right;
}
